<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<main class="containerr" style="margin-left: 0px; margin-right: 0px; display: flex; height: 100vh">
    <aside class="sidebar">

        <p>{태성님}마이 페이지</p>
        <br>
        <ul class="list-unstyled">
            <li><a href="orderlist">주문 내역</a></li>
            <br>
            <li><a href="bookmark">북마크</a></li>
            <br>
            <li><a href="review">내가 단 댓글</a></li>
            <br>
            <li><a href="recharge">포인트 충전</a></li>
            <br>
            <li><a href="info">내 정보 수정</a></li>
            <br>
            <li><a href="setting">설정</a></li>
        </ul>

    </aside>
</main>