<footer>
    <div class="container">
        <div class="footer-product">
            <h5>이용안내</h5>
            <ul class="list-unstyled">
                <li><a href="#">Features</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Enterprise</a></li>
            </ul>
        </div>

        <div class="footer-customer">
            <h5>고객지원</h5>
            <ul class="list-unstyled">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">서비스 소개</a></li>
                <li><a href="#">자주 묻는 질문</a></li>
            </ul>
        </div>
        <div class="footer-company">
            <h5>회사소개</h5>
            <ul class="list-unstyled">
                <li><a href="#">크림 주식회사 · 대표 김창욱</a></li>
                <li><a href="#">사업자등록번호 : 570-88-01618</a></li>
                <li>
                    <a href="#">
                        사업장소재지 : 경기도 성남시 분당구 분당내곡로
                        131 판교테크원 타워1, 8층
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="site-link list-unstyled">
        <li>© 2023 Shinhan DS, Inc.</li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">What is Git?</a></li>
    </ul>
</footer>

