<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NRS</title>
    <link rel="stylesheet" href="../../css/customer/customer.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../css/customer/swiper.css">
    <!-- 카카오 맵 API 키 -->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=67db8676f9e68a4cfa0568a0cd5a8115"></script>
    <script src="../../js/customer/customer.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://kit.fontawesome.com/d264bc01c7.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="http://hwangsunsoo.com/lecture/do_it_interactive/13/js/isotope.pkgd.min.js"></script>
    <script src="../../js/customer/swiper.js" defer></script>
    <script src="../../js/customer/fillter.js" defer></script>
</head>
<body>
<header>
    <div></div>
    <div>
        <img id="logo" src="../../img/logo.png" alt="로고"/>
    </div>
    <div class="profile-section">
        <img width="36px" src="../../img/basket.png" alt=""/>
        <img width="42px" src="../../img/user-circle.png" alt=""/>
        <div class="profile-dropdown">

            <div class="nav-bar-profile">
                <div>사진 <span>김경영</span></div>
                <div>
                    <a href="#">로그아웃</a>
                </div>
            </div>
            <!-- 드롭다운 내용 추가 -->
            <div class="nav-bar-couponAndPoint">
                <div class="coupon">쿠폰 <span>1장</span></div>
                <div class="point">포인트 <span>100000</span></div>
            </div>

            <a href="#">주문내역</a>
            <a href="#">북마크</a>
            <a href="#">내가 단 댓글</a>
            <a href="#">포인트 충전</a>
            <a href="#">포인트 충전 내역</a>
            <a href="#">내 정보 수정</a>
            <a href="#">설정</a>

        </div>
    </div>
</header>