<nav>
    <ul>
        <li><a href="/"></a></li>
        <li><a href="/store/search"></a></li>
        <li><a href="/mypage/bookmark"></a></li>
        <li><a href="../mypage/orderlist"></a></li>
        <li><a href="../board/"></a></li>
    </ul>
</nav>