<div>
    <div class="wrap">

        <ul class="auto">
            <li class="btnStart"><i class="fas fa-play"></i></li>
            <li class="btnStop"><i class="fas fa-pause"></i></li>
        </ul>

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con1">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con2">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con3">

                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="inner">
                    <div class="con4">

                    </div>
                </div>
            </div>

        </div>

        <!-- 좌우버튼 -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- 페이징 버튼 -->
        <div class="swiper-pagination"></div>
    </div>
</div>