


{{>layouts/header}}

<!-- content -->
<main>
    <div >
        <div class="wrap">
            <h1>Today <span>delivery news</span></h1>

            <ul class="auto">
                <li class="btnStart"><i class="fas fa-play"></i></li>
                <li class="btnStop"><i class="fas fa-pause"></i></li>
            </ul>

            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="inner">
                        <div class="con">
                            <img src="../../img/pic1.png">
                            <h2>Ipsum dolor sit amet.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, optio.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner">
                        <div class="con">
                            <img src="../../img/pic2.png">
                            <h2>Lorem ipsum dolor.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eum doloribus voluptate officiis excepturi!</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner">
                        <div class="con">
                            <img src="../../img/pic3.png">
                            <h2>Dolor ipsum  sit.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officiis iste nam quae.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner">
                        <div class="con">
                            <img src="../../img/pic4.png">
                            <h2>Consectetur adicing.</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit optio debitis sapiente!</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 좌우버튼 -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

            <!-- 페이징 버튼 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="section">
        <div class="section-search">
            <div class="logo-input">
                <img width="42px" src="../../img/search_logo.png" alt="로고"/>
            </div>
            <div class="title-search">
                <div class="search">
                    <input
                            class="search-input"
                            type="text"
                            placeholder="검색어를 입력해주세요"
                    />
                </div>
                <div class="search-section">
                    <img width="32px" src="../../img/search.png" alt=""/>
                </div>
            </div>
            <div class="input-section">
                <img width="32px" src="../../img/alert.png" alt=""/>
            </div>
        </div>

        <div class="list-button">
            <button id="button-all">기본 순</button>
            <button id="button-1" >북마크</button>
            <button id="button-2" >주문 많은 순</button>
            <button id="button-3" >리뷰 많은 순</button>
        </div>
        <div class="store-list">
            <div class="listing">
                <!— 각 숙소 항목 —>
                <div class="listing-item category-1 box">
                    <div class="list-class" >
                        <img src="../../img/dog1.png" alt="숙소 1"/>
                        <a href="javascript:void(0);" class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </div>
                </div>

                <div class="listing-item category-1 box">
                    <div class="list-class" >
                        <img src="../../img/dog4.png"/>
                        <a href="javascript:void(0);" class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </div>
                </div>

                <div class="listing-item category-2 box">
                    <div class="list-class ">
                        <img src="../../img/dog5.png" alt="숙소 3"/>
                        <a href="javascript:void(0);" class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </div>
                </div>
                <div class="listing-item category-2 box">
                    <div class="list-class">
                        <img src="../../img/som.jpeg" alt="숙소 4"/>
                        <a href="javascript:void(0);" class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </div>
                </div>
                <div class="listing-item category-3 box">
                    <div class="list-class">
                        <img src="../../img/som2.jpeg" alt="숙소 5"/>
                        <a href="javascript:void(0);" class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </div>
                </div>
                <div class="listing-item category-3 box">
                    <div class="list-class">
                        <img src="../../img/som3.jpeg" alt="숙소 6"/>
                        <a href="javascript:void(0);" class="bookmark">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <button class="more-btn">더보기</button>

        <!-- map-->
        <!-- 지도 -->
        <div class="map-cantainer">
            <p>위치</p>
            <div id="map" class="map"></div>
        </div>
    </div>
</main>
{{>layouts/footer}}