<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>
</head>

<body>
주문내역

<table>
    <tr>
        <th>/</th>
            <td>주문날짜</td>
            <td>배달주소</td>
            <td>주문날짜</td>
            <td>요청정보</td>
            <td>결제금액</td>
            <td>주문상태</td>
    </tr>
    <tr>
        <th>1</th>
        <td>주문날짜</td>
        <td>배달주소</td>
        <td>주문날짜</td>
        <td>요청정보</td>
        <td>결제금액</td>
        <td>주문상태</td>
    </tr>
    <tr>
        <th>2</th>
        <td>주문날짜</td>
        <td>배달주소</td>
        <td>주문날짜</td>
        <td>요청정보</td>
        <td>결제금액</td>
        <td>주문상태</td>
    </tr>
</table>
</body>
</html>