<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/html/link :: link"/> <!--메타 정보등-->
<body>

<header th:replace="layouts/html/header :: header"/> <!--헤더 뼈대-->

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articleList}">
        <th th:text="${article.id}"></th>
        <td><a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.title}"></a></td>
        <td th:text="${article.content}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/articles/new}" class="btn btn-primary">글 생성</a>

<div th:replace="layouts/html/footer :: footer"/> <!--푸터 뼈대-->

</body>
</html>
