@import "header.css";
@import "footer.css";
@import "nav.css";
@import "swiper.css";


.section-search {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}

.logo-input {
    display: flex;
    margin-right: 0.5rem;
    margin-left: 3rem;
    padding: 5px 5px 5px 12px;
    align-items: center;
    cursor: pointer;
}
.title-search {
    display: flex;
    background-color: #e8f2f5;
    width: 60%;
    height: 3rem;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 40px;
    padding: 0 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.search {
    border-radius: 40px;
    height: 100%;
    flex-basis: 95%;
    background-color: #e8f2f5;
}

.search-input {
    background-color: #e8f2f5;
    border-radius: 40px;
    padding: 0 10px;
    height: 100%;
    border: none;
    width: 100%;
}
.search-input:focus {
    outline: none;
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8f2f5;
    border-radius: 50%;
    flex-basis: 32px;
    height: 32px;
    flex-basis: 1;
    cursor: pointer;
}
.input-section {
    display: flex;
    margin-right: 1rem;
    padding: 5px 5px 5px 12px;
    align-items: center;
    /* border: 1px solid #dddddd; */
    border-radius: 21px;
    gap: 12px;
    cursor: pointer;
}

/*식당*/
.section {
    max-width: 95vw;
    width: 90vw;
    margin: 3rem auto 0px;
}

.section {
    padding: 10px 16px;
    text-align: center;
}



#about {
    border-radius: 10px;

}

.about {
    display: grid;
    gap: 1em;
    margin-top: 45px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

}
.about__card {
    height: 30vh;
    text-align: center;
    color: white;
    background-color: var(--color-dark);
    border-radius: 12px;
    box-shadow: 4px 4px 12px grey;
    cursor: pointer

}
.about-store{
    height: 70%;
    border-radius: 12px 12px 0 0;
    background: url("/img/delivery/chinese2.png");
    background-size: cover;
    background-repeat: no-repeat;


}
.about-store-comment{
    height: 30%;
}

.about__title {
    font-size: var(--font-size-larger);
    font-weight: bold;
    padding-top: 1rem;
}

.about__title._1 {
    color: #FFB974;
}
.about__title._2 {
    color: #6BB0F3;
}
.about__title._3 {
    color: #FFBDCE;
}

.about__text {
    font-size: var(--font-size-text);
}
.about:hover .about__card:not(:hover) {
    transform: scale(0.9);
}

.about__card:hover {
    transform: scale(1.04);
}
.about__card:hover .about__icon {
    opacity: 1;
}





/*가게*/

.list-button{
    margin: 3rem auto 0px;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}
.list-button button{
    display: block;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 12px;
    width: 7rem;
    height: 3rem;
    border: none;
}

.list-button button:hover{
    transform: scale(1.1);
}

.list-class:hover .bookmark, .bookmark.bookmarked {
    opacity: 1;
    cursor: pointer;
}
.bookmark , .bookmark-fill {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 30%;
    background-color: #ffffff;

}

.bookmark i , .bookmark-fill i{
    font-size: 1.5rem;
    color: #ffa5a5;
    line-height: 2rem
}

.bookmark i.bookmarked{
    font-size: 1.5rem;
    transform: scale(1.2);
}

.more-btn {
    display: block;
    margin: auto;
    margin-top: 1.5em;
    width: 7rem;
    height: 3rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.more-btn:hover{
    transform: scale(1.1);
}

.map {
    margin: auto;
    border-radius: 12px;
    width: calc(80vw);
    height: calc(30vw);
}

.section__title{
    font-weight: bold;
    font-size: larger;
    margin: 5rem 0 2rem;
}






@media  (max-width:1023px) {
    .address_search #search_box {
        width: 50%;
        height: 45px;
    }

    .category_box .box {
        width: 95%;
    }

}


@media (max-width:767px) {

    .address_search #search_box {
        width: 75%;
    }

    .category_box .box {
        width: 100%;
    }
}

@media (max-width:480px) {
    .address_search #search_box {
        width: 90%;
    }


}


