<div id="comments-list">
    {{#commentDtods}}
        <div class="card" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtods}}
</div>