<html xmlns:th="http://www.thymeleaf.org">
<main class="container" >
  <section class="mainpage" th:fragment="mypagelink" >
    <div class="main-banner">
      <div class="icon1">
        <a class="notice-item" th:href="@{/member/update}" onclick="showContent('member-change')">
          <img src="/img/setting.png" alt="회원수정 이미지">
          <div class="overlay-text">회원정보 수정</div>
        </a>
      </div>
      <div class="icon1">
        <a class="notice-item" href="#" onclick="showContent('points')">
          <img src="/img/seli.png" alt="결제 이미지">
          <div class="overlay-text">결제</div>
        </a>
      </div>
      <div class="icon1">
        <a class="notice-item" href="#" onclick="showContent('order-lists')">
          <img src="/img/order.png" alt="주문내역 이미지">
          <div class="overlay-text">주문내역</div>
        </a>
      </div>
      <div class="icon1">
        <a class="notice-item" href="../customer/" onclick="showContent('back-home')">
          <img src="/img/main2.png" alt="메인 이미지">
          <div class="overlay-text">메인으로</div>
        </a>
      </div>
    </div>
  </section>
  <h1 th:text="${ssg}"></h1>
</main>
<script type="text/javascript" src="/js/mypage/mypage.js"></script>

