<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/owner/info.css}">
</head>
<body>
<h2>가게 정보 수정</h2>

    <form th:action="@{/owner/api/restaurants/new}" method="post" th:object="${restaurant}">
        <label for="storeName">가게 이름:</label>
        <input type="text" id="storeName" name="storeName" th:field="*{name}">

        <label for="storeAddress">가게 주소:</label>
        <input type="text" id="storeAddress" name="storeAddress" th:field="*{address}">

        <label for="openingTime">오픈 시간:</label>
        <input type="text" id="openingTime" name="openingTime" th:field="*{openTime}">

        <label for="closingTime">마감 시간:</label>
        <input type="text" id="closingTime" name="closingTime" th:field="*{closeTime}">

        <input type="submit" value="수정하기">
    </form>
</body>
</html>