<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Form</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<form id="menuForm" action="/process-form" method="post">
    <div id="menuList">
        <div th:each="dummyMenu, stat : ${dummyMenuList}">
            <a th:text="${stat.index}"></a>
<!--            <label th:for="${'dummyMenus[' + stat.index + '].name'}" th:text="'Name ' + ${stat.index + 1}"></label>-->
<!--            <input type="text" th:field="*{dummyMenus[__${stat.index}__].name}" />-->
            <!-- 다른 필드들도 필요한 경우 추가 -->
        </div>
    </div>
    <button type="button" onclick="addMenuForm()">Add Menu</button>
    <button type="submit">Submit</button>
</form>

<script th:inline="javascript">
    function addMenuForm() {
        var menuList = document.getElementById('menuList');
        var index = menuList.children.length;

        // 동적으로 폼을 생성하고 추가
        var formHtml = '<div>';
        formHtml += '<label th:for="${\'dummyMenus[\' + ' + index + ' + \'].name\'}" th:text="\'Name \' + ' + index + ' + 1"></label>';
        formHtml += '<input type="text" th:field="*{dummyMenus[__' + index + '__].name}" />';
        // 다른 필드들도 필요한 경우 추가
        formHtml += '</div>';

        menuList.insertAdjacentHTML('beforeend', formHtml);
    }
</script>
</body>
</html>
