<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>사장님</title>
        <link rel="stylesheet" href="/css/owner/owner.css" />
        <script src="/js/owner/owner.js" defer></script>
    </head>
    <body>
        <main class="container">
            <aside class="sidebar">
                <p>사장님 페이지</p>
                <h5>가게 정보</h5>

                <ul class="list-unstyled">
                    <li><a href="/owner/api/restaurants/new">가게 등록</a></li>
                    <li><a href="/owner/api/restaurants" th:href="@{/owner/api/restaurants/{restaurantId}(restaurantId=${restaurantId})}">가게 수정</a></li>
                    <li><a href="#">리뷰 관리</a></li>
                </ul>
                <h5>매출 관리</h5>
                <ul class="list-unstyled">
                    <li><a href="#">오늘의 매출</a></li>
                    <li><a href="#">월 매출</a></li>
                    <li><a href="#">년 매출</a></li>
                </ul>
                <h5>예약 관리</h5>
                <ul class="list-unstyled">
                    <li><a href="#">이번 주 예약</a></li>
                    <li><a href="#">지난 예약</a></li>
                </ul>
                <h5>공지 사항</h5>
                <ul class="list-unstyled">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">서비스 소개</a></li>
                    <li><a href="#">자주 묻는 질문</a></li>
                </ul>
            </aside>
            <section class="mainpage">내용입니다.</section>
        </main>
    </body>
</html>
