<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/owner/info.css}">
    <meta charset="UTF-8">
    <title>review</title>
</head>
<body>
리뷰
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">first_date</th>
        <th scope="col">late_date</th>
    </tr>
    </thead>
    <tbody>
    {{#reviewList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/review/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
            <td>{{date}}</td>
            <td>{{fix_date}}</td>
        </tr>
    {{/reviewList}}
    </tbody>
</table>
<a href="/mypage/" class="btn btn-primary">글 생성</a>


</body>
</html>