<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/owner/info.css}">
    <meta charset="UTF-8">
    <title>setting</title>
</head>
<body>
설정
</body>
</html>