<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/review/page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>index</title>
</head>
<body>
<button class="deleteComment" onclick="saveReq()">글작성</button>
<button class="deleteComment" onclick="listReq()">글목록</button>
<button class="deleteComment" onclick="pagingReq()">페이징목록</button>
</body>
<script>
    //  function saveReq() {
    //
    //  }

    const saveReq = () => {
        location.href = "/board/save";
    }
    const listReq = () => {
        location.href = "/board/";
    }
    const pagingReq = () => {
        location.href = "/board/paging";
    }
</script>
</html>