<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/review/page.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<form action="/board/save" method="post" name="saveform" enctype="multipart/form-data">
<table>
    <tr>
        <th>재목</th>
        <td><input type="text" name="boardTitle" id="boardTitle"></td>
    </tr>
    <tr>
        <th>작성자</th>
        <td><input type="text" name="boardWriter" th:value="${session.loginName}" readonly></td>
        <input type="text" name="boardPass" th:value="${session.loginName}" hidden="on">
    </tr>
    <tr>
        <th>내용</th>
        <td><textarea name="boardContents" id="boardContents" cols="30" rows="10"></textarea></td>
    </tr>
    <tr th:if="${board.fileAttached == 1}">
        <th>사진</th>
        <td><input type="file" name="boardFile"> <br>
            <input type="button" onclick="req()" class="deleteComment" value="글작성" style=" background-color: cornflowerblue;
    width: 5.5em;
    height: 3.3em;
    border: none;
    border-radius: 5px;
    color: aliceblue;"></td>
    </tr>
</table>
</form>
</body>

<script>
    const req = () => {
        const title = document.getElementById("boardTitle").value;
        const contents = document.getElementById("boardContents").value;
        if (title === "") {
            alert("제목을 입력해 주세요!");
            location.href= "/board/save";
        }else if (contents === "") {
            alert("내용을 입력해 주세요!");
            location.href= "/board/save";
        }else {
            document.saveform.submit();
        }
    }
</script>
</html>